<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Daysheet">
    <meta name="author" content="Sonja Broach">
    <%= csrf_meta_tags %>
    <title>Daysheet</title>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
  </head>
<body>
<header>
  <form>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="#">Daysheet</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/venues/#">Venues</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="<%= new_tour_path %>">New Tour</a>
        </li>
        <li class="nav-item dropdown" >
        <%= form_for @tour do |f| %>
          <div onchange="callajax()"> <%= f.collection_select(:id, Tour.all, :id, :name, :prompt => 'Select' ) %></div>
        <% end %>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <li>
          <fb:login-button 
            scope="public_profile,email"
            onlogin="checkLoginState();">
          </fb:login-button>
        </ul>
        </li>
      </form>
    </div>
  </nav>
 </form>
</header><!-- /.navigation-->

</body>
<script >

function callajax () {
  alert("hi");

  jQuery.ajax({
    data: 'id=' + id,
    dataType: 'script',
    type: 'post',
    url: "/controller/action"
  });
}


</script>
</html>

<!--
   t.decimal "hotel_expenses"
    t.decimal "other_expenses"
    t.string "notes"
    t.decimal "per_diem_exp"
    t.decimal "gas_exp"
    t.decimal "hotel_exp"


      t.string "name"
    t.date "start_date"
    t.date "end_date"
    t.text "description"
    t.datetime "available_since"
    t.boolean "active"
    t.binary "image"
    t.datetime "created_at", null: false
    t.datetime "updated_at", null: false
    t.integer "day_id"
    t.integer "user_id"
    t.integer "income_id"
    t.decimal "per_diem_budget"
    t.decimal "gas_budget"
    t.decimal "hotel_budget"
    t.string "region"
    t.decimal "est_income"
  -->
