<body>
<main role="main" class="container">
  <p id="notice"><%= notice %></p>  
  <div class="starter-template">
     <table>
      <tbody>
          <% Tour.all.each do |t| %>
            <tr>
              <td><a href="/tours/<%= t.id %>"><%= t.name %></td>
           <% end %> 
          </tr>
      </tbody>
     </table>
     <%= link_to 'New Tour', new_tour_path %>
  </div>
</main>
</body>
</html>
